version: "3"

services:
  deploy-server:
    # 或使用镜像：
    image: ghcr.io/konghayao/deploy-bun:latest
    ports:
      - "7899:7899" # 上传端口
      - "3000:3000" # 应用端口
    volumes:
      # 持久化部署目录和状态文件
      - ./deploy-data:/app/deployments
    restart: unless-stopped
    environment:
      - NODE_ENV=production
